
  body {
    background-color: #D4ECDD;
  }

  hr {
      border-style: none;
      border-top-style: dotted;
      border-color: grey;
      border-width: 5px;
      width: 10%;
  }
  h1{
    color: #133B5C;
  }
  h3{
    color: #316B83;
  }
